script#edit-host-modal-template(type="text/template")
  #edit-host-modal.modal
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h4.modal-title Edit Host
          button.close(type="button" data-dismiss="modal")
            span &times;
        .modal-body
          .form-group
            label(for="edit-host-modal-name") Name
            input#edit-host-modal-name.form-control(type="text" v-model="host.name" readonly)
          .form-group
            label(for="edit-host-modal-email") Email
            input#edit-host-modal-email.form-control.code(type="email" v-model="host.email")
          .form-group
            label(for="edit-host-modal-phone") Phone Number
            input#edit-host-modal-phone.form-control(type="text" v-model="host.phone")
          .form-group
            label(for="edit-host-modal-bio") Bio
            textarea#edit-host-modal-bio.form-control(type="text" v-model="host.bio" rows=3)
          .form-group
            label(for="edit-host-modal-experience") Experience 
            textarea#edit-host-modal-experience.form-control(type="text" v-model="host.experience" rows=3)
          .form-group
            label(for="edit-host-modal-videoUrl") Video URL
            input#edit-host-modal-videoUrl.form-control(type="text" v-model="host.videoUrl")
          .form-group
            upload-image2(
              :image-url="host.imageUrl"
              :delete-image-url="host.deleteImageUrl"
              @update-image-url="updateImage($event)"
            )
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
          button.btn.btn-primary(type="button" @click="updateHost" data-dismiss="modal") Save

include ../components/upload-image2
script.
  Vue.component('edit-host-modal', {
    template: "#edit-host-modal-template",
    props: ['host'],
    data() {
      return {}
    },
    methods: {
      updateImage(event) {
        this.$parent.selectedHost.imageUrl = event.imageUrl
        this.$parent.selectedHost.deleteImageUrl = event.deleteImageUrl
        this.host.imageUrl = event.imageUrl
        this.host.deleteImageUrl = event.deleteImageUrl
        this.updateHost(event)
      },
      updateHost() {
        this.$emit('update', this.host)
        axios
          .put('/api/hosts/' + this.host._id, this.host)
          .then(function(response) {
            console.log("SUCCESS")
          })
          .catch(function(error) {
            console.log("ERRORRRR")
          })        
      }
    }
  })