extends ../../_layout
block content
  .p-5.text-center
    a.charming-logo.text-light(href="#") OoBleck v2
  .container
    .row
      .col-lg-6.mx-auto.pb-5
        .box
          form(action="/tickets" method="POST")
            input(type="hidden" name="key" value=key)
            .box-head.box-head-accent-oob
            .box-block
              h3.mb-4 Select Show
              .form-group
                label.col-form-label(for="venue") Venue
                select#venue.form-control(name="venue")
                  option(value="coldtowne") ColdTowne Theater
                  option(value="fallout") Fallout Theater
                  option(value="hideout-up") Hideout Theatre (upstairs)
                  option(value="hideout-down") Hideout Theatre (downstairs)
                  option(value="north-door") North Door
                  option(value="velveeta") Velveeta
              .form-group
                label.col-form-label(for="day") Day
                select#day.form-control(name="day")
                  option(value="tuesday") Tuesday
                  option(value="wednesday") Wednesday
                  option(value="thursday") Thursday
                  option(value="friday") Friday
                  option(value="saturday") Saturday
                  option(value="sunday") Sunday
                  option(value="monday") Monday
              .form-group
                label.col-form-label(for="time") Time
                select#time.form-control(name="time")
                  option(value="600")   6:00
                  option(value="700")   7:00
                  option(value="730")   7:30
                  option(value="800")   8:00
                  option(value="830")   8:30
                  option(value="845")   8:45
                  option(value="900")   9:00
                  option(value="1000") 10:00
                  option(value="1030") 10:30
                  option(value="1100") 11:00

            .box-block.box-block-actions.box-bt
              button.btn.btn-primary.float-right(type="submit") Get Reservations
