script#workshop-template(type="text/template")
  .box.workshop
    a.delete(v-show="$root.editMode" href="#" @click.prevent="removeWorkshop(workshop._id)") remove
    h4.time {{workshop.time | time}} to {{workshop.time | endTime}}
    p.font-weight-bold Workshop
    p {{workshop.name}}
    p With&nbsp;
      span.font-italic {{workshop.teacher}}

script.
  Vue.component('workshop', {
    template: "#workshop-template",
    props: ['workshop'],
    filters: {
      time(time) {
        if(time=="10") return "11:00am"
        if(time=="20") return "12:00pm"
        if(time=="30") return "1:00pm"
        if(time=="40") return "3:00pm"
      },
      endTime(time) {
        if(time=="10") return "2:00pm"
        if(time=="20") return "3:00pm"
        if(time=="30") return "4:00pm"
        if(time=="40") return "6:00pm"
      }
    },
    methods: {
      removeWorkshop(workshopId) {
        let self = this
        axios
          .put('/api/workshops/' + workshopId, {day: null, venue: null, time: null})
          .then((response)=> {
            self.$store.commit('removeWorkshop', workshopId)
          })
          .catch((error)=> {
            alert("Error removing workshop :(")
            console.log(error)
          })
      }
    }
  })