nav#dash-nav.dash-nav.dash-nav-accent-2
	header
		.dash-nav-logo.text-center.w-100
			img#oobleck-logo(src="/img/oob-logo-fire.jpg")
			//a.dash-nav-logo-link(href="#") OoBleck
		a.dash-nav-toggler
			span.dash-nav-toggler-icon

	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/regular.css" integrity="sha384-avJt9MoJH2rB4PKRsJRHZv7yiFZn8LrnXuzvmZoD3fh1aL6aM6s0BBcnCvBe6XSD" crossorigin="anonymous")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous")

	.dash-nav-list
		- var isAdmin = user.roles.includes('admin')
		- var isStaff = user.roles.includes('staff')
		- var isPanelist = user.roles.includes('panelist')
		- var isStandupPanelist  = user.roles.includes('standup-panelist')
		- var isScheduler = user.roles.includes('schedule')

		if isStaff || isAdmin

			.dash-nav-dropdown
				a.dash-nav-item.dash-nav-dropdown-toggle(href="#!")
					span.far.fa-star.fa-lg.fa-fw.fa-bounce &nbsp;
					|  Acts
				.dash-nav-dropdown-menu
					a.dash-nav-item(href="/act-submissions") Submissions
					a.dash-nav-item(href="/act-submissions/stamp") Approve / Reject
					a.dash-nav-item(href="/acts") Status

			//a.dash-nav-item(href="/badges")
				span.far.fa-map.fa-lg.fa-fw &nbsp;
				|  Badges
			a.dash-nav-item(href="/calendar")
				span.far.fa-calendar-alt.fa-lg.fa-fw &nbsp;
				|  Calendar
			a.dash-nav-item(href="/hosts")
				span.far.fa-grin-alt.fa-lg.fa-fw &nbsp;
				|  Hosts
			//- a.dash-nav-item(href="/shows")
				span.far.fa-list-alt.fa-lg.fa-fw &nbsp;
				|  Shows
			//a.dash-nav-item(href="/volunteers")
				span.far.fa-heart.fa-lg.fa-fw &nbsp;
				|  Volunteers
			a.dash-nav-item(href="/workshops")
				span.far.fa-lightbulb.fa-lg.fa-fw &nbsp;
				|  Workshops

		if isAdmin
			hr.dash-nav-divider
			a.dash-nav-item(href="/users")
				span.far.fa-user-circle.fa-lg.fa-fw &nbsp;
				|  Users