header.dash-toolbar.justify-content-between(class=(settings.env !== 'development' ? 'dash-toolbar-accent-2' : 'dash-toolbar-accent-1'))
	a.dash-nav-toggler
		span.dash-nav-toggler-icon

	div
		span=user.username
		span &nbsp;|&nbsp;
		a.dropdown-link(href="/logout" style="color:white") log out