extends ../_layout
block content
  include style
  #app
    header.dash-titlebar
      .mb-md-0.mb-3
        span.dash-titlebar-title Calendar
      a.btn.btn-secondary.ml-md-auto(href="/acts/create") Create Act
    .m-3
      p
        a(href="#" @click.prevent="editMode = !editMode" v-cloak) {{ editMode ? 'Hide Edit Links' : 'Show Edit Links' }}
      p
        a(href="#" @click.prevent="toggleNavigation") {{ hideNavigation ? 'Show Navigation' : 'Hide Navigation'  }}
    add-act-modal
    add-show-modal
    add-workshop-modal
    add-host-modal
    .box.day(v-for="day in days")
      day(v-bind="day")
  
  script(src="/js/axios.min.js")
  script(src="/js/vue.js")
  script(src="/js/vuex.js")

  include store
  include modals/add-act
  include modals/add-show
  include modals/add-workshop
  include modals/add-host
  include components/day
  include components/venue
  include components/workshop
  include components/shows
  include app