extends ../../_layout
block content
  link(rel="stylesheet" type="text/css", href="/css/calendar.css")
  #app
    header.dash-titlebar
      .mb-md-0.mb-3
        span.dash-titlebar-title Calendar
    .m-3
      p
        a(href="#" @click.prevent="editMode = !editMode" v-cloak) {{ editMode ? 'Hide Edit Links' : 'Show Edit Links' }}
      p
        a(href="#" @click.prevent="toggleNavigation") {{ hideNavigation ? 'Show Navigation' : 'Hide Navigation'  }}
    add-act-modal
    add-show-modal
    add-workshop-modal
    add-host-modal
    .box.day(v-for="day in days")
      day(v-bind="day")

  script(src="/js/vuex.js")
  script(src="/js/calendar/store.js")

  include modals/add-act
  include modals/add-show
  include modals/add-workshop
  include modals/add-host
  include components/day
  include components/venue
  include components/workshop
  include components/shows

  script(src="/js/calendar/app.js")