p #{act.name} will not attending Out of Bounds 2019.
form(action="/confirmation/"+act._id method="POST").text-center
  .form-group
    button.btn.btn-secondary.btn-lg(type="submit" name="confirmation-status" value="cancel") Undo