div
  p You are now confirmed!
  p You have until&nbsp;
    strong July 22nd
    |  to finalize your submission. Edit it&nbsp;
    a(href="/act-submission-edit/"+act._id) here
    | .

  form(action="/confirmation/"+act._id method="POST")
    .form-group.text-center
      button.btn.btn-lg.btn-danger(type="submit" name="confirmation-status" value="no") Cancel Festival Attendance