nav.navbar.navbar-expand-md.navbar-dark.text-light
  ul.navbar-nav.mr-auto
    li.nav-item.active
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='/lineup') Lineup
    li.nav-item
      a.nav-link(href='/schedule') Schedule/Tickets
