extends ../_layout
block content
  .container-fluid.text-white.text-center
    .row
      .col
        img.img-fluid(src="/img/logo.png")
        h2.display-4.mt-3 Labor Day Weekend
        h2.text-light August 27th to September 2nd

    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-4 Submissions Are Open!
        p.mt-4
          a.btn.btn-lg.btn-primary(href="/apply") Apply Now

    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-4 What is Out of Bounds?
        p.h4 The  
          strong Out of Bounds Comedy Festival (OoB)  
          | is a live performance festival that showcases the best in improv, sketch and standup. OoB is Austin's longest-running comedy festival and 
          em the largest multi-disciplinary comedy festival in the south
          | .

    .row.justify-content-center.mt-8
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/sketch.png")
        h2.icon-header.sketch 500+ Performers
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/standup.png")
        h2.icon-header.standup 130 Acts
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/improv.png")
        h2.icon-header.improv 7 Days


    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-5 Out of Bounds is a Certified 501(c)(3) Nonprofit
        p.h4 Our mission is to bring world-wide attention to the Austin comedy community by featuring improv, sketch, podcasts, musical, variety and stand-up, strengthening performer networks, providing educational opportunities to our talent and stimulating both Austin tourism and industry interest.

    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-4 Sponsors
        img.img-fluid(src="/img/cultural-arts-logo.png")