extends ../_layout
block content

  meta(property="og:url" content="https://oobfest.com/")
  meta(property="og:title" content="2019 Out of Bounds Comedy Festival")
  meta(property="og:description" content="Showcasing the best in improv, sketch and standup Labor Day Weekend in Austin, TX")
  meta(property="og:image" content="https://oobfest.com/img/image-for-facebook.jpg")

  script(src="https://checkout.stripe.com/checkout.js")

  .container-fluid.text-white.text-center
    .row
      .col
        img.img-fluid(src="/img/logo.png")
        h2.display-4.mt-3 Labor Day Weekend
        h2.text-light August 27th to September 2nd


    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-4 What is Out of Bounds?
        p.h4 The&nbsp;
          strong Out of Bounds Comedy Festival (OoB)
          |  is a live performance festival that showcases the best in improv, sketch and standup. OoB is Austin's longest-running comedy festival and&nbsp;
          em the largest multi-disciplinary comedy festival in the south
          | .

    #badges.mt-8
      include badges/index

    .row.justify-content-center.mt-8
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/sketch.png")
        h2.icon-header.sketch 7 Days
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/standup.png")
        h2.icon-header.standup 6 Stages
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/improv.png")
        h2.icon-header.improv 80 Acts


    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-5 Out of Bounds is a Certified 501(c)(3) Nonprofit
        p.h4 Our mission is to bring world-wide attention to the Austin comedy community by featuring improv, sketch, podcasts, musical, variety and stand-up, strengthening performer networks, providing educational opportunities to our talent and stimulating both Austin tourism and industry interest.
        p.h4 This project is supported in part by the Cultural Arts Division of the City of Austin Economic Development Department.
    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-4 Sponsors
        img.img-fluid(src="/img/cultural-arts-logo.png")

  script.

    let handler = StripeCheckout.configure({
      //key: 'pk_test_vSOv2tJVVsBEI6PZJLJBNiOW',
      key: 'pk_live_iR3EiMyek6fnYWIoFptERALW',
      image: '/img/oob-logo-fire.jpg',
      locale: 'auto',
      zipCode: true,
      currency: 'usd',
      allowRememberMe: false,
      token: function(token) {
        badgeApp.badge.email = token.email
        let data = { token, badge: badgeApp.badge }
        axios
          .post('/api/stripe/badges/', data)
          .then((response)=> {
            if(response.data.paid) {
              if (badgeApp.badge.type =='all') badgeApp.card1State++
              else badgeApp.card2State++
            }
            else alert("Payment failed 😟")
          })
          .catch((error)=> {
            console.log("ERROR :(")
            console.log(error)
          })
      }
    })

    let badgeApp = new Vue({
      el: "#badges",
      data() {
        return {
          card1State: 1,
          card2State: 0,
          badge: {
            type: 'all',
            name: '',
            email: '',
            phone: '',
            quantity: 1,
            weekendOnly: false
          }
        }
      },
      methods: {
        stripeHandler() {
          if (this.isValid()) {
            handler.open({
              name: 'Out Of Bounds Comedy',
              description: 'All-Access Badge',
              amount: this.getBadgeCost()
            })
          }
          else alert("All fields are required!")
        },
        getBadgeCost() {
          if (this.badge.type == 'all') return (9900 * this.badge.quantity)
          if (this.badge.type == 'performer-upgrade') return 6900
          if (this.badge.type == 'performer-weekend-upgrade') return 4500
        },
        isValid() {
          return this.badge.name != '' &&
                 this.badge.phone != ''
        },
        isValidPerformer() {
          return this.performerBadge.name != '' &&
                 this.performerBadge.email != '' &&
                 this.performerBadge.phone != ''
        },
        validate(actions) {
          this.isValid() ? actions.enable() : actions.disable()
        },
        onChange(handler) {
          document.querySelector('#name').addEventListener('change', handler)
          document.querySelector('#email').addEventListener('change', handler)
          document.querySelector('#phone').addEventListener('change', handler)
        },
        validatePerformerBadge(actions) {
          this.isValidPerformer() ? actions.enable() : actions.disable()
        },
        onChangePerformerBadge(handler) {
          document.querySelector('#performer-name').addEventListener('change', handler)
          document.querySelector('#performer-phone').addEventListener('change', handler)
        },
        validatePerformerEmail() {
          let self = this
          axios
            .post('/api/acts/validate-performer-email', {email: this.badge.email})
            .then(function(response) {
              let isValid = response.data
              if(isValid) self.card2State+= 2
              else self.card2State++
            })
            .catch(function() {
              alert("Email check failed. Please try again later. ")
            })
        }
      },
    })