extends ../_layout
block content

  meta(property="og:url" content="https://oobfest.com/")
  meta(property="og:title" content="2019 Out of Bounds Comedy Festival")
  meta(property="og:description" content="Showcasing the best in improv, sketch and standup Labor Day Weekend in Austin, TX")
  meta(property="og:image" content="https://oobfest.com/img/image-for-facebook.jpg")

  .container-fluid.text-white.text-center
    .row
      .col
        img.img-fluid(src="/img/logo.png")
        h2.display-4.mt-3 Labor Day Weekend
        h2.text-light August 27th to September 2nd

    .row.justify-content-center.mt-4
      .col-lg-8
        
        hr

        h2.display-1 
          a(href="/schedule") Schedule

        h2.display-1
          a(href="/lineup") Lineup

        h2.display-1
          a(href="/get-badges") Badges

        h2.display-1
          a(href="/workshops") Workshops

        h2.display-1
          a(href="/volunteer") Volunteer

        hr

    .row.justify-content-center.mt-4
      .col-lg-8
        h2.display-4 What is Out of Bounds?
        p.h4 The&nbsp;
          strong Out of Bounds Comedy Festival (OoB)
          |  is a live performance festival that showcases the best in improv, sketch and standup. OoB is Austin's longest-running comedy festival and&nbsp;
          em the largest multi-disciplinary comedy festival in the south
          | .

    .row.justify-content-center.mt-8
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/sketch.png")
        h2.icon-header.sketch 7 Days
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/standup.png")
        h2.icon-header.standup 6 Stages
      .col-sm-3
        img.img-fluid.oob-icon(src="img/icons/improv.png")
        h2.icon-header.improv 80 Acts


    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-5 Out of Bounds is a Certified 501(c)(3) Nonprofit
        p.h4 Our mission is to bring world-wide attention to the Austin comedy community by featuring improv, sketch, podcasts, musical, variety and stand-up, strengthening performer networks, providing educational opportunities to our talent and stimulating both Austin tourism and industry interest.
        p.h4 This project is supported in part by the Cultural Arts Division of the City of Austin Economic Development Department.
    .row.justify-content-center.mt-8
      .col-lg-8
        h2.display-4 Sponsors
        img.img-fluid(src="/img/cultural-arts-logo.png")
