@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@font-face { font-family: 'gotham-black'; src: url(../font/gotham-black.ttf); }
@font-face { font-family: 'gotham-book'; src: url(../font/gotham-book.ttf); }
body { font-family: 'Raleway', sans-serif }
p { white-space: pre-line }
a { color: #13818d }
a:hover { color: #145962 }
a.btn { color: white !important; }
h5 { font-size: 1rem }

/* IDK why it isn't white already */
.btn-secondary {
  color: white;
}
.btn-secondary:hover {
  color: white;
}

/* Make display fonts T H I C C */
.display-1, .display-2, .display-3, .display-4, .display-5, .icon-header {
  font-family: 'gotham-black', sans-serif;
  color: #f9a01b;
}
.display-5 {
  font-size: 2rem;
}

/* The official background color for OoB */
.dash-nav-accent-2, .dash-toolbar-accent-2 { 
  background-color: #211d1e;
}
.dark-background {
  background: url('/img/audience-dark.jpg') no-repeat bottom center fixed;
  background-size: cover;
}
.shannon-background {
  background: url('/img/shannon.jpg') no-repeat top right fixed;
  background-size: cover;
}

#oobleck-logo {
  height: 72px;
}

.submission-logo {
  width: 100%;
  height: auto;
  max-width: 547px;
  padding-top: 2em;
}

.box-head-accent-oob {
  background: linear-gradient(45deg,#65A9FF,#2284FE);
  background-color: rgba(0, 0, 0, 0);
  background-color: #34bc48;
  border-color: #239834;
  color: #fff;
}

/* Red stars after required fields */
label.required-field:after {
  content:" *";
  color:red;
}

/* Make those nav icons bloop! */
.dash-nav-item .far { 
  margin-right: 5px; 
  transition: all .2s ease-in-out; 
}
.dash-nav-item:hover .far { 
  transform: scale(1.25); 
}

