body {
  font-size: 20px;
}

nav {
  font-family: 'gotham-book', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  display: inline;
}
a.nav-link:hover {
  box-shadow: 0 2px 0 white, 0px 1px 0 white;
}

li.nav-item {
  margin-left: 1rem;
}

.svg-inline {
  width: 1em;
  padding-bottom: 4px;
}

@media (max-width: 576px) {
  .oob-icon { max-width: 80%; }
}

.oob-icon { max-width: 250px; }
.sketch  { color: #13818d }
.standup { color: #f04c23 }
.improv  { color: #f9a11b }
.variety { color: #6d8e3b }

.code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: rgb(249, 160, 27);
  background-color: #211d1e;
  padding: 5px;
  border-radius: 6px;
}

/* Act Details */
.lineup-act-details {
  border: 2px solid grey;
  margin-right: 15px;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px black;
}