.box-block.box-bt
  h3 Thank you for applying to Out of Bounds!

  h4 Important Dates
  ul
    li This year's festival will be from
      strong  August 27th
      |  to
      strong  September 2nd
    li We will send out acceptance emails in the beginning of July
    li
      strike The last day to apply to the festival will be
        strong  March 31st
    li We are now accepting late submissions until the end of April!
  h4 Application Fee
  p
    strong Late Bird
    em  (after March)
    ul
      li solo/duo: $35, 3+ people: $50