.box-block.box-bt
  h3 Thank you for applying to Out of Bounds!

  h4 Important Dates
  ul
    li This year's festival will be from 
      strong August 27th  
      | to  
      strong September 2nd
    li We will send out acceptance emails in the beginning of July
    li The last day to apply to the festival will be 
      strong March 31st
  h4 Application Fee
  p 
    strong Early Bird  
    em (before the end of Feburary)
    |  solo/duo: $15, 3+ people: $35
    br 
    strong Regular Bird  
    em (after February)
    |  solo/duo: $25, 3+ people: $45