.box-block.box-bt
  h3.mb-4 Act Details
  .form-group
    label.col-form-label.required-field(for="act-name") Group or Performer Name
    input#act-name.form-control(type="text" required autofocus name="act-name" maxlength="280" v-model.trim="submission.name")
  .form-group
    label.col-form-label(for="show-title") Show Title
    small.form-text.text-muted Only fill this out if your show title should be different from your group or performer name.
    input#show-title.form-control(type="text" required autofocus name="show-title" maxlength="280" v-model.trim="submission.showTitle")
  .form-group
    label.col-form-label.required-field(for="show-type") Show Type
    small.form-text.text-muted Select all that apply
    .form-check
      input#improv-checkbox.form-check-input(type="checkbox" value="Improv" v-model="submission.showType")
      label.form-check-label(for="improv-checkbox") Improv
    .form-check
      input#sketch-checkbox.form-check-input(type="checkbox" value="Sketch" v-model="submission.showType")
      label.form-check-label(for="sketch-checkbox") Sketch
    .form-check
      input#stand-up-checkbox.form-check-input(type="checkbox" value="Standup" v-model="submission.showType")
      label.form-check-label(for="stand-up-checkbox") Standup
    .form-check
      input#podcast-checkbox.form-check-input(type="checkbox" value="Podcast" v-model="submission.showType")
      label.form-check-label(for="podcast-checkbox") Podcast
    //.form-check
      input#teacher-checkbox.form-check-input(type="checkbox" value="Teacher" v-model="submission.showType")
      label.form-check-label(for="teacher-checkbox") Teacher
    .form-check
      input#musical-checkbox.form-check-input(type="checkbox" value="Musical" v-model="submission.showType")
      label.form-check-label(for="musical-checkbox") Musical
    .form-check
      input#one-person-show-checkbox.form-check-input(type="checkbox" value="One-person-show" v-model="submission.showType")
      label.form-check-label(for="one-person-show-checkbox") One-person Show
    .form-check
      input#variety-checkbox.form-check-input(type="checkbox" value="Variety" v-model="submission.showType")
      label.form-check-label(for="variety-checkbox") Hosted Variety or Panel Show
    .form-check
      input#other-checkbox.form-check-input(type="checkbox" value="Other" v-model="submission.showType")
      label.form-check-label(for="other-checkbox") Other
  .form-group
    label.col-form-label.required-field(for="informal-description") Describe Your Act to Us
    small.form-text.text-muted This is meant to persuade reviewers and won't be visible to the public. What makes your act special?
    textarea#informal-description.form-control(maxlength="1500" name="informal-description" required v-model="submission.privateDescription")
  .form-group
    label.col-form-label.required-field(for="public-description") Describe Your Act to the Public
    small.form-text.text-muted Accepted acts will have this content published on our website and programs. Use third person active voice, e.g. "Miller &amp; Lies is..."
      a(href="#" @click.prevent="seeExample = !seeExample") See an example
    small.form-text.font-italic(v-show="seeExample") "Miller &amp; Lies is a comedy duo that performs a single story with awkward, emotionally vulnerable oddball characters. They've been doing improv together for ten years. Come hang with them and feel your feelings."
    textarea#public-description.form-control(maxlength="1400" name="public-description" required v-model="submission.publicDescription")
  .form-group
    label.col-form-label(for="accolades") Festival Apperances, Awards and Reviews
    small.form-text.text-muted List any previous festival appearances, awards you've won, and any additional press materials (quotes, links to reviews, etc)
    textarea#accolades.form-control(maxlength="1400" name="accolades" v-model="submission.accolades")