.box-block.box-bt
  h3 Contact Information
  h4 Submission Contact
  p In case we need to get ahold of you in regards to your submission, who is the best person to contact?
  .form-group.row
    label.col-form-label.col-2.required-field(for="primary-contact-name") Name
    input#primary-contact-name.form-control.col-10(type="text" name="primary-contact-name" required maxlength="280" v-model="submission.contact.name")
  .form-group.row
    label.col-form-label.col-2.required-field(for="primary-contact-email") Email
    input#primary-contact-email.form-control.col-10(type="email" name="primary-contact-email" required maxlength="280" v-model="submission.contact.email")
  .form-group.row
    label.col-form-label.col-2.required-field(for="primary-contact-phone") Phone
    input#primary-contact-phone.form-control.col-10(type="text" name="primary-contact-phone" required maxlength="280" v-model="submission.contact.phone")
  .form-group.row
    label.col-form-label.col-2.required-field(for="primary-contact-role") Role
    select#primary-contact-role.form-control.col-10(name="primary-contact-role" v-model="submission.contact.role")
      option Performer
      option Crew
      option Director
      option Producer
      option Other
  .form-group.row
    label.col-form-label.col-2 Attending
    select.form-control.col-10(name="primary-contact-attending" v-model="submission.contact.attending")
      option(:value="true") Yes
      option(:value="false") No