.box-block.box-bt
  h3 Video URL
  p(v-if="isStandup") For standup, submit an unedited 5-15 minute video from a recent performance.
  p(v-else) Please submit a URL to an unedited, full-length video of a performance of
    strong the act you intend to bring
    | to Out of Bounds from the past 12 months. It should be at least 20 minutes long.
  p Video sketches and other fully-edited videos are not accepted.
  .form-group
    label.col-form-label.required-field Video URL
    input.form-control(required type="text" name="video-url" maxlength="1400" v-model="submission.videoUrl")
  div(v-for="extraVideoUrl in submission.extraVideoUrls" v-bind:key="extraVideoUrl.id")
    .form-group
      label.col-form-label Additional Video URL
      input.form-control(required type="text" maxlength="1400" v-model="extraVideoUrl.value")
    .form-group.text-right
      button.btn.btn-danger(type="button" @click="removeExtraVideoUrl(extraVideoUrl.id)") Remove
  .form-group
    button.btn.btn-secondary(@click="addExtraVideoUrl") Add Additional Video URL
  .form-group
    label.col-form-label(for="video-info") Does your video require a password or any other additional information?
    input#video-info.form-control(type="text" name="video-info" maxlength="1400" v-model="submission.videoInfo")
