.box-block.box-bt
  h3 Application Fee

  form(action="/charge" method="post" id="payment-form")
    .form-row
      label(for="card-element") Credit or debit card
      #card-element
        // TODO
      #card-errors(role="alert")
    button.btn.btn-primary Submit Payment


  script(src="https://js.stripe.com/v3/")
  script.

    let stripe = Stripe('pk_test_vSOv2tJVVsBEI6PZJLJBNiOW')
    let elements = stripe.elements()

    let style = { base: { fontSize: '16px', color: "#32325d" } }
    let card = elements.create('card', { style })
    card.mount('#card-element')
    card.addEventListener('change', function(event) {
      let displayError = document.getElementById('card-errors')
      if (event.error) displayError.textContent = event.error.message
      else displayError.textContent = ''
    })

    let form = document.getElementById('payment-form')
    form.addEventListener('submit', function(event) {
      event.preventDefault()
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          let errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
        } 
        else {
          stripeTokenHandler(result.token)
        }
      })
    })