extends ../../_layout
block content
  .text-center
    img.submission-logo(src="/img/logo.png" alt="Out of Bounds Comedy Festival")
    h1.p-3.text-light.font-weight-bold 2019 Application
  .container-fluid
    .row#app
      .col-md-8.mx-auto.pb-5
        .box-head.box-head-accent-oob
        .box-block
          p The submission form has closed for 2019!
