include ../../_layout
block content
  #lineup.container
    grid(:acts="acts")

  include grid
  include tile
  link(href="/css/lineup.css" rel="stylesheet")

  script.
    let lineup = new Vue({
      el: "#lineup",
      data() {
        return {
          acts: []
        }
      },

      created() {
        let self = this
        let alphabetize = (a, b)=> (a.name<b.name? -1: a.name>b.name? 1: 0)
        axios
          .get('/api/acts/public')
          .then(response=> {
            let headliners = response.data
              .filter(a=>a.headliner)
              .sort(alphabetize)
            let nonHeadliners = response.data
              .filter(a=>!a.headliner)
              .sort(alphabetize)
            self.acts = headliners.concat(nonHeadliners)
          })
      }
    })

