script#add-host-modal-template(type="text/template")
  #add-host-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Add Host
          button.close(type="button" data-dismiss="modal")
            span &times;
        .modal-body
          form
            .form-group
              label(for="add-host-dropdown") Host
              select#add-host-dropdown.custom-select(v-model="selectedHost")
                option(v-for="host in hosts",:value="host._id") {{host.name}}
        .modal-footer
          .form-group
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            | &nbsp;
            button.btn.btn-primary(type="button" data-dismiss="modal" @click="addHost") Save

script.
  Vue.component('add-host-modal', {
    template: "#add-host-modal-template",
    data() {
      return {
        selectedHost: '',
      }
    },
    computed: {
      hosts() {
        return this.$store.getters.getAllHosts
      }
    },
    methods: {
      addHost() {
        let self = this
        let host = self.$store.getters.getHost(self.selectedHost)
        let showId = self.$store.getters.getShowId
        axios
          .post('/api/shows/set-host/' + showId, host)
          .then(function(response){
            self.$store.commit('updateShow', response.data)
          })
          .catch(function(error){
            alert("Error adding host :(")
            console.log(error)
          })
      }
    }
  })