extends ../_layout
block content
  style.
    .bg-accent-oob {
      background: url('../../img/audience-dark.jpg') no-repeat bottom center fixed; 
      background-size: cover;
    }
  .dash-boxes.container
    .row.justify-content-center
      .col-lg-8
        .box
          .box-head.box-head-accent-oob
          .box-block.box-bb
            block accept