extends _layout
block accept

  if act.stamp === 'in'
    h2 #{act.name}

    if act.confirmationStatus === 'no'
      include partials/no

    else if act.confirmationStatus === 'yes'
      include partials/yes

    else if act.confirmationStatus === 'reschedule'
      include partials/reschedule

    else
      include partials/confirm

  else
    h2=act.actName
    p This submission was not accepted for Out of Bounds 2019
    p If this is wrong, please contact &nbsp;
      code admin@oobfest.com