#hometowns.tab-pane.fade.show.active(v-if="tab=='hometowns'")
  .box

  .box.box-b
    table.table.box-table
      thead
        tr
          th Name
          th City
          th State
          th Theater
          th(style="visibility: hidden")
            button.btn.btn-primary Update
      tbody
        tr(v-for="submission, key in paidSubmissions")
          td {{ submission.name }}
          td
            input.form-control(type="text" v-model="submission.city" @input="trackChange(key)")
          td
            input.form-control(type="text" v-model="submission.state" @input="trackChange(key)")
          td
            input.form-control(type="text" v-model="submission.home" @input="trackChange(key)")
          td
            button.btn.btn-primary(v-show="hasChanged[key]" type="button" @click.prevent="standardize(submission, key)") Update