#submissions.tab-pane.fade.show.active(v-if="tab=='submissions'")

  .box
    p Total submissions: {{filteredSubmissions.length}}
    .form-check.form-check-inline
      input#show-paid.form-check-input(:value="true" type="radio" v-model="showPaid")
      label.form-check-label(for="show-paid") Paid
    .form-check.form-check-inline
      input#show-unpaid.form-check-input(:value="false" type="radio" v-model="showPaid")
      label.form-check-label(for="show-unpaid") Unpaid

  .box.box-b
    table.box-table.table
      thead
        tr
          th
            a(href="#" @click.prevent="sortField='name'") Name
          th Scores
          th Type
          th
            a(href="#" @click.prevent="sortField='city'") City
          th
            a(href="#" @click.prevent="sortField='home'") Home
        tr
          td
            input.form-control(type="text" v-model="nameSearch")
          td &nbsp;
          td
            select.form-control(v-model="typeSearch")
              option(selected value="") All
              option Improv
              option Sketch
              option Standup
              option Variety
              option Podcast
              option(value="One-person-show") Individual
              option Teacher
              option Musical
              option Other
          td
            input.form-control(type="text" v-model="citySearch")
          td
            input.form-control(type="text" v-model="homeSearch")

      tbody(is="submission-row" v-for="(submission, index) in filteredSubmissions" v-bind="submission" v-bind:key="submission._id" @removed="remove")
