extends ../../_layout
block content
  .text-center
    a(href="http://oobfest.com/" target="_parent")
      img.submission-logo(src="/img/logo.png" alt="Out of Bounds Comedy Festival")
    h1.p-3.text-light.font-weight-bold 2019 Volunteer Application
  #app.container-fluid
    .row
      .col-md-8.mx-auto.pb-5
        .box
          form
            .box-head.box-head-accent-oob
            div(v-show="submitted==false")
              .box-block
                .alert.alert-danger(v-show="validationErrors.length > 0")
                  h4.alert-heading Errors
                  ul
                      li(v-for="validationError in validationErrors") {{validationError}}
                h3 Volunteer Application
                p The&nbsp;
                  strong Out of Bounds Comedy Festival
                  |  is currently seeking applicants to be a part of our team! OoB runs August 27 to September 2, 2019. We are looking for volunteers for light and sound techs, box office, ushers, performer registration, airport drivers, party assistance and more! Sign up now and a staff member will be in contact with you about your availability. More information about each role can be found&nbsp;
                  a(href="https://docs.google.com/document/d/1-Uf_wOZlkW3UDeJLUTUWZzUgaC7nUJCl54hOwnlhPaU" target="_blank") here
                  | .
                p Please note that shifts take place at our festival venues:
                ul
                  li Hideout Theatre
                  li ColdTowne Theater
                  li Fallout Theater
                  li The North Door
                  li Velveeta Room
                p Out of Bounds relies on our volunteers to make the festival run smoothly and to make sure everyone has fun. It's important that our volunteers have fun, too!  Snacks will be available for show and registration volunteers during shifts, and all volunteers are entitled to attend to any non-sold-out show the day of their shift(s).
                p Volunteers are also eligible to perform in our
                  a(href="https://oobfest.com/schedule/monday/hideout-up/600" target="_blank")  OoB Volunteer Showcase
                  | !
                p Any volunteer completing 5 or more shifts will earn a&nbsp;
                  em Volunteer 5+ Shifts Badge
                  | . This is equivalent to a performer badge and gives you entry to any non-sold-out show for the entirety of the festival!
                p Email any questions to&nbsp;
                  a(href="mailto:volunteer@oobfest.com" target="_blank") volunteer@oobfest.com
              .box-block.box-bt
                h3 General Information
                .form-group
                  label.col-form-label.required-field(for="name") Full Name
                  input#name.form-control(type="text" required autofocus maxlength="280" name="name" v-model="volunteer.name")
                .form-group
                  label.col-form-label.required-field(for="email") Email
                  input#email.form-control(type="email" required  maxlength="280" name="email" v-model="volunteer.email")
                .form-group
                  label.col-form-label.required-field(for="phone") Phone Number
                  input#phone.form-control(type="tel" required maxlength="280" name="phone" v-model="volunteer.phone")
              .box-block.box-bt
                h3 Volunteering Specifics
                .form-group
                  label.col-form-label.required-field(for="type") What type of volunteering are you interested in?
                  .form-check
                    input#tech-checkbox.form-check-input(type="checkbox" value="tech" v-model="volunteer.type")
                    label.form-check-label(for="tech-checkbox") Tech
                  .form-check
                    input#show-checkbox.form-check-input(type="checkbox" value="show" v-model="volunteer.type")
                    label.form-check-label(for="show-checkbox") Show and Workshop (including box office, ushering &amp; performer registration)
                  .form-check
                    input#driver-checkbox.form-check-input(type="checkbox" value="driver" v-model="volunteer.type")
                    label.form-check-label(for="driver-checkbox") Driver
                  .form-check
                    input#party-checkbox.form-check-input(type="checkbox" value="party" v-model="volunteer.type")
                    label.form-check-label(for="party-checkbox") Party
                .form-group
                  label.col-form-label(for="referral") How did you hear about volunteering?
                  textarea#referral.form-control(maxlength="1500" name="referral" v-model="volunteer.referral")
                .form-group
                  label.col-form-label.required-field(for="volunteered-before") Have you volunteered at Out of Bounds before?
                  select#volunteered-before.form-control(v-model="volunteer.volunteeredBefore")
                    option(value="no") No
                    option(value="yes") Yes
                .form-group
                  label.col-form-label.required-field(for="performing") Are you performing during the festival?
                  select#performing.form-control(v-model="volunteer.performing")
                    option(value="no") No
                    option(value="yes") Yes

              //- DRIVER
              .box-block.box-bt(v-show="volunteer.type.includes('driver')")
                h3 Driver Information
                .form-group
                  label.col-form-label.required-field(for="car-type") What is your car's make and model?
                  input#car-type.form-control(type="text" maxlength="280" name="car-type" v-model="volunteer.car.carType")
                .form-group
                  label.col-form-label.required-field(for="passenger-count") How many additional passengers can you fit?
                  select#passenger-count.form-control(v-model.number="volunteer.car.passengerCount")
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                .form-group
                  label.col-form-label.required-field(for="license-plate-number") What is your car's license plate number?
                  input#license-plate-number.form-control(type="text" maxlength="280" name="license-plate-number" v-model="volunteer.car.licensePlateNumber")

              //- TECH
              .box-block.box-bt(v-show="volunteer.type.includes('tech')")
                h3 Tech Information
                .form-group
                  label.col-form-label.required-field(for="previous-tech-experience") What is your previous tech experience?
                  input#previous-tech-experience.form-control(type="text" maxlength="280" name="previous-tech-experience" v-model="volunteer.tech.previousExperience")
                .form-group
                  label.col-form-label.required-field(for="has-teched-oob-before") Have you done tech for OoB before?
                  select#has-teched-oob-before.form-control(v-model="volunteer.tech.hasTechedOobBefore")
                    option(value="no") No
                    option(value="yes") Yes

              .box-block.box-bt
                h3 Availability
                .form-group
                  label.col-form-label.required-field(for="hours") How many hours are you able to commit to?
                  small.form-text A staff member will be in touch about your specific availability shortly!
                  select#hours.form-control(v-model.number="volunteer.hours")
                    option(value=0)
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
                    option 11
                    option 12
                    option 13
                    option 14
                    option 15
                    option 16
                    option 17
                    option 18
                    option 19
                    option 20
                p.help-text Which days of the festival are you available?
                .form-group
                  .custom-control.custom-checkbox
                    input#available-tuesday.custom-control-input(type="checkbox" value="tuesday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-tuesday") Tuesday, August 27th
                .form-group
                  .custom-control.custom-checkbox
                    input#available-wednesday.custom-control-input(type="checkbox" value="wednesday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-wednesday") Wednesday, August 28th
                .form-group
                  .custom-control.custom-checkbox
                    input#available-thursday.custom-control-input(type="checkbox" value="thursday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-thursday") Thursday, August 29th
                .form-group
                  .custom-control.custom-checkbox
                    input#available-friday.custom-control-input(type="checkbox" value="friday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-friday") Friday, August 30th
                .form-group
                  .custom-control.custom-checkbox
                    input#available-saturday.custom-control-input(type="checkbox" value="saturday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-saturday") Saturday, August 31st
                .form-group
                  .custom-control.custom-checkbox
                    input#available-sunday.custom-control-input(type="checkbox" value="sunday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-sunday") Sunday, September 1st
                .form-group
                  .custom-control.custom-checkbox
                    input#available-monday.custom-control-input(type="checkbox" value="monday" name="available[]" v-model="volunteer.availability")
                    label.custom-control-label(for="available-monday") Monday, September 2nd
                .form-group
                  label.col-form-label.required-field(for="attending-orientation") We will have an orientation meeting on
                    span.code  August 25th
                    |, will you be able to attend?
                  select#attending-orientation.form-control(v-model="volunteer.attendingOrientation")
                    option(value="no") No
                    option(value="yes") Yes
                .form-group
                  label.col-form-label(for="notes") Anything else that we should know?
                  textarea#notes.form-control(maxlength="1500" name="notes" v-model="volunteer.notes")
                .text-center
                  button.btn.btn-primary.btn-lg(type="button" @click="create") Submit

            .box-block(v-show="submitted")
              h3 Thank You!
              p Your submission has been recorded!
              p Any questions, email&nbsp;
                a(href="mailto:volunteer@oobfest.com" target="_blank") volunteer@oobfest.com

  script.
    new Vue({
      el: '#app',
      data() {
        return {
          submitted: false,
          validationErrors: [],
          volunteer: {
            name: '',
            email: '',
            phone: '',
            type: [],
            hours: 0,
            referral: '',
            volunteeredBefore: '',
            performing: '',
            attendingOrientation: '',
            notes: '',
            availability: [],

            car: {
              carType: "",
              passengerCount: 4,
              licensePlateNumber: ""
            },

            tech: {
              previousExperience: '',
              hasTechedOobBefore: 'no',
            }
          }
        }
      },
      methods: {
        getValidationErrors() {
          let validationErrors = []
          if(this.volunteer.name == '') validationErrors.push("Your name is required")
          if(this.volunteer.email == '') validationErrors.push("Your email is required")
          if(this.volunteer.phone == '') validationErrors.push("Your phone number is required")
          if(this.volunteer.type == '') validationErrors.push("The type of volunteering is required")
          if(this.volunteer.volunteeredBefore == '') validationErrors.push("You must let us know if you have volunteered for OoB before or not")
          if(this.volunteer.performing == '') validationErrors.push("You must let us know if you are performing in the festival or not")
          if(this.volunteer.hours == 0) validationErrors.push("How many hours available is required")
          if(this.volunteer.availability.length <= 0) validationErrors.push("You must be available for at least one day of the festival")
          if(this.volunteer.attendingOrientation == '') validationErrors.push("You must let us know that you can attend volunteer orientation or not")

          if(this.volunteer.type == 'driver') {
            if(this.volunteer.car.carType == '') validationErrors.push("Car Type is required for driver volunteers")
            if(this.volunteer.car.licensePlateNumber == '') validationErrors.push("License Plate Number is required for driver volunteers")
          }
          if(this.volunteer.type == 'tech') {
            // check tech validation
          }
          return validationErrors
        },
        create() {
          let validationErrors = this.getValidationErrors()
          let self = this
          if(validationErrors.length == 0) {
            axios
              .post('/api/volunteers', self.volunteer)
              .then(function(response) {
                self.submitted = true
              })
              .catch(function(error) {
                alert("Error submitting application :(")
              })
          }
          else {
            alert("Some required fields were left blank")
            this.validationErrors = validationErrors
          }
        }
      }
    })

