extends ../../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title Demographics

  #app.dash-boxes.container-fluid
    .box.box-b
      table.box-table.table
        thead
          tr
            th Zip Code
            th Race
            th Constituency
        tbody
          tr(v-for="survey in surveys")
            td {{survey.zipCode}}
            td {{survey.race}}
            td 
              ul: li(v-for="s in survey.special") {{s}}


  script.
    let vue = new Vue({
      el: "#app",
      data() { return {
        surveys: []
      }},
      created() {
        let self = this
        axios.get('/api/demographics')
          .then((response)=> {
            self.surveys = response.data
          })
          .catch((error)=> {
            console.log(error)
          })
      }
    })
