extends ../../_layout
block content
  .text-center
    a(href="http://oobfest.com/" target="_parent")
      img.submission-logo(src="/img/logo.png" alt="Out of Bounds Comedy Festival")
    h1.p-3.text-light.font-weight-bold Demographics Survey
  #app.container-fluid
    .row
      .col-lg-8.mx-auto.pb-5
        .box-head.box-head-accent-oob
        div(v-show="submitted==false")
          .box-block
            .alert.alert-danger(v-show="validationErrors.length > 0")
              h4.alert-heading Errors
              ul
                  li(v-for="validationError in validationErrors") {{validationError}}
            p We recieve funding from 
              a(href="https://www.austintexas.gov/department/cultural-arts" target="_blank") Austin's Cultural Arts Division
              |  and they want to make sure their money is going towards events that serve as wide a variety of people as posisble.
            p This survey is anonymous, only needs to be filled out once per person and helps us understand our impact as a sponsored project of the city.
            .form-group
              label.col-form-label(for="location") Location
              select#location.form-control(name="location" v-model="demographic.location")
                option Austin Local
                option Outside Austin
                option Outside Texas
                option Outside U.S.
            .form-group
              label.col-form-label.required-field(for="zip-code") Zip Code
              input#zip-code.form-control(type="text" required autofocus maxlength="5" v-model="demographic.zipCode")
              small.form-text.muted Put "00000" if from outside U.S.
            .form-group
              label.col-form-label(for="race") Racial Demographic
              select#race.form-control(name="race" v-model="demographic.race")
                option American Indian/Alaskan Native
                option Asian
                option Black/African-American
                option Latino/Hispanic
                option Multi-Racial
                option Native Hawaiian/Pacific Islander
                option White
                option Other
            h4 Special Constituencies
            p.help-text Please select all that apply.
            .form-group
              .custom-control.custom-checkbox
                input#neurodivergent.custom-control-input( type="checkbox" value="Neurodivergent" v-model="demographic.special")
                label.custom-control-label(for="neurodivergent") Neurodivergent
            .form-group
              .custom-control.custom-checkbox
                input#deaf.custom-control-input(type="checkbox" value="Deaf or Hard of Hearing" v-model="demographic.special")
                label.custom-control-label(for="deaf") Deaf or Hard of Hearing
            .form-group
              .custom-control.custom-checkbox
                input#blind.custom-control-input(type="checkbox" value="Blind or Low Vision" v-model="demographic.special")
                label.custom-control-label(for="visually-impaired") Blind or Low Vision
            .form-group
              .custom-control.custom-checkbox
                input#other-disability.custom-input(type="checkbox" value="Other Disabillity" v-model="demographic.special")
                label.custom-control-label(for="other-disability") Other Disability
            .form-group
              .custom-control.custom-checkbox
                input#college-student.custom-control-input( type="checkbox" value="College Student" v-model="demographic.special")
                label.custom-control-label(for="college-student") College Student
            .form-group
              .custom-control.custom-checkbox
                input#veteran.custom-control-input(type="checkbox" value="Veteran" v-model="demographic.special")
                label.custom-control-label(for="veteran") Veteran
            .form-group
              .custom-control.custom-checkbox
                input#senior-citizen.custom-control-input(type="checkbox" value="Senior Citizen" v-model="demographic.special")
                label.custom-control-label(for="senior-citizen") Senior Citizen
            .form-group
              .custom-control.custom-checkbox
                input#institutionalized-correctional.custom-control-input( type="checkbox" value="Institutionalized (correctional)" v-model="demographic.special")
                label.custom-control-label(for="institutionalized-correctional") Institutionalized (correctional)
            .form-group
              .custom-control.custom-checkbox
                input#institutionalized-non-correctional.custom-control-input( type="checkbox" value="Institutionalized (non-correctional)" v-model="demographic.special")
                label.custom-control-label(for="institutionalized-non-correctional") Institutionalized (non-correctional)
            .form-group
              .custom-control.custom-checkbox
                input#select-other.custom-control-input( type="checkbox" v-model="otherSelected")
                label.custom-control-label(for="select-other") Other
            .form-group(v-if="otherSelected")
              // label.col-form-label.required-field(for="special") Other
              input#special.form-control(type="tel" required maxlength="280" placeholder="Other" v-model="specialOther")
          .box-block.text-center
            button#submit-button.btn.btn-md.btn-primary(type="button" @click="submitSurvey") Submit
        div(v-show="submitted==true")
          .box-block
            h4 Your submission has been received!
  script.
    let app = new Vue({
      el: '#app',
      data() {
        return {
          submitted: false,
          validationErrors: [],
          demographic: {
            zipCode: "",
            race: "",
            special: []
          },
          specialOther: "",
          otherSelected: false
        }
      },
      methods: {
        validate() {
          let validationErrors = []
          if(this.demographic.zipCode == "") validationErrors.push("Zip Code required")
          if(!this.demographic.zipCode.match(/\d\d\d\d\d/)) validationErrors.push("Zip Code should be a five-digit number")
          if(this.demographic.race == "") validationErrors.push("Racial demographic required")
          if(this.otherSelected && this.specialOther == "") validationErrors.push("Please define \"other\" under Special Constituencies")
          return validationErrors
        },
        submitSurvey() {
          let self = this
          let validationErrors = self.validate()
          if(validationErrors.length > 0) {
            alert("Some required fields were left blank")
            this.validationErrors = validationErrors
          }
          else {
            if(this.otherSelected) this.demographic.special.push(this.specialOther)
            axios
              .post('/api/demographics', self.demographic)
              .then(response => {
                self.submitted = true
              })
              .catch(error=> {
                alert("There was an error submitting the demographic survey :(")
                console.log(error)
              })
          }
        }
      }
    })
