extends ../../_layout
block content
  .container-fluid
    .row
      .col-md-6.mx-auto.mt-8.mb-9
        .box-head.box-head-accent-oob
        .box-block
          h2 Password
          if isPasswordSet
            p Password already set
          else
            form(action="/set-password/" method="POST")
              input(type="hidden" name="id" value=_id)
              input(type="hidden" name="key" value=key)
              .form-group
                label.col-form-label(for="password") Set Password for 
                  code #{username}
                input#password.form-control(type="password" required autofocus name="password")
              .form-group
                button.btn.btn-primary(type="submit") Submit

