extends ../../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title Acts / Social

  #app.dash-boxes.container-fluid
    .box.box-b
      table.box-table.table
        thead
          tr
            th Name
            th Type
            th Bio
            th Origin
            th Social
        tbody
          tr(v-for="act in acts")
            td
              figure.figure
                a(:href="act.image.url" target="_blank")
                  img.figure-img.img-thumbnail(:src="getImageThumbnail(act.image.id)")
                figcaption.figure-caption {{act.name}}
            td
              ul
                li(v-for="type in act.showType") {{type}}
            td(style="line-height: 1")
              small {{act.publicDescription}}
            td {{act.city}}, {{act.state}}
              span(v-if="act.country != 'US'") , {{act.country}}
            td
              ul
                li(v-for="socialMedia in act.socialMedia")
                  a(:href="socialMedia.url" target="_blank") {{socialMedia.type}}
            td

  script.
    let app = new Vue({
      el: "#app",
      data() {
        return {
          acts: [],
        }
      },
      computed: {
      },
      methods: {
        getImageThumbnail(imageId) {
          return 'https://i.imgur.com/' + imageId + 's.jpeg'
        }
      },
      created() {
        let self = this
        axios
          .get('/api/acts')
          .then(function(response) {
            self.acts = response.data
          })
          .catch(function(error) {
            alert("Error getting acts :(")
            console.log(error)
          })
      }
    })
