extends ../../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title Act Submissions
    a.btn.btn-primary.ml-md-auto(href="/apply") Apply

  #app.dash-boxes.container-fluid
    .box.box-b
      table.box-table.table
        thead
          tr
            th Name
            th City
        tbody(is="submission-row" v-for="(submission, index) in submissions" v-bind:submission="submission" v-bind:key="index" @removed="remove")
  
  script#submission-row-template(type="text/x-template")
    tbody
      tr
        td 
          a(href="#" @click="visible=!visible") {{submission.name}}
        td {{submission.city}}
      tr(v-show="visible")
        td(colspan=5)
          p Hello, world!
          button.btn.btn-danger(@click="remove(submission.name, submission._id)") Delete

  script.

    Vue.component('submission-row', {
      props: ['submission'],
      template: "#submission-row-template",
      data() { return {
          visible: false
      }},
      methods: {
        remove(name, id) {
          let self = this
          if(confirm("Delete " + name + "?")) {
            axios.delete('/api/act-submissions/' + id)
              .then((response)=> {
                self.visible = false
                self.$emit('removed', id)
              })
              .catch((error)=> {
                console.log(error)
              })
          }
        },
      }
    })

    let vue = new Vue({
      el: "#app",
      data() { return {
        submissions: []
      }},
      methods: {
        remove(id) {
          let index = this.submissions.findIndex(s=> s._id == id)
          this.submissions.splice(index, 1)
        }
      },
      created() {
        let self = this
        axios.get('/api/act-submissions')
          .then((response)=> {
            self.submissions = response.data
          })
          .catch((error)=> {
            console.log(error)
          })
      }
    })