Hi [ACT or PERFORMER],

Congratulations AGAIN on getting into this year's Out of Bounds Comedy Festival! We are SO EXCITED to have you!

Our Senior Producer, and Scheduling Czar, Dave Buckman, is working diligently on getting this year's schedule fully nailed down in regards to venues and time slots, but we wanted to make sure you at least had the DAYS you are performing so you can start booking travel and accommodation.

[ACT] is performing on [DAY] and [DAY]*.

*As the summer rolls on, and life happens, we will be reaching out for potential 3rd performance slots as they open up (most likely on Sunday, 9/1)!

The full lineup announcement is coming this week via our OoB Fest Facebook page. Please like/follow us if you haven't already! Speaking of, as a performer, you are also invited to join our OoB Performers 2019 group! This is a great resource for meeting, communicating, and connecting with your fellow performers, as well as producers and staff.

Performer perks:

    performer's badge (If there's an open seat at show start time, it's yours for free!)
    discounted upgrade to a reservation badge (More info on this is coming later when badge announcements are made.)
    OoB t-shirt
    OoB trading card featuring your act/troupe/team
    complimentary rides to/from the airport to where ever you are staying
    $135/night hotel discount at the Hilton Garden Inn Downtown**

**We know what you're thinking: "A hotel discount? This is 2019. We're performers. We stay in AirBnBs." Word. But maybe you don't mind sharing a queen bed with a friend, and therefore 4 of y'all can split a room, and be right smack in the middle of downtown Austin, where all but 1 of our venues and parties is located, thus saving you money on scooters and ride shares, especially since we offer complimentary rides to/from the airport, for only $34/ea a night. If that is the case, check out our sweet OoB hotel discount at the Hilton Garden Inn Downtown.

We will be sending out regular emails between now and the fest as we get more and more details worked out, but please feel free to email us at anytime with any questions/concerns you may have and we will do our best to get back to you ASAP!

Cheers,