p Hi #{actName},
p Congratulations AGAIN on getting into this year's Out of Bounds Comedy Festival!
p Our Senior Producer and Scheduling Czar, Dave Buckman, is working diligently on getting this year's schedule fully nailed down in regards to venues and time slots, but we wanted to make sure you at least had the DAYS you are performing so you can start booking travel and accommodation.
p
  strong #{actName} will be performing on
    ul
      if days.includes("Tuesday")
        li Tuesday, August 27th
      if days.includes("Wednesday")
        li Wednesday, August 28th
      if days.includes("Thursday")
        li Thursday, August 29th
      if days.includes("Friday")
        li Friday, August 30th
      if days.includes("Saturday")
        li Saturday, August 31st
      if days.includes("Sunday")
        li Sunday, September 1st
      if days.includes("Monday")
        li Monday, September 2nd

p The full lineup announcement is coming this week via our&nbsp;
  a(href="https://www.facebook.com/oobfest/") OoB Fest Facebook page
  |. Please like/follow us if you haven't already! Speaking of, as a performer, you are also invited to join our&nbsp;
  a(href="https://www.facebook.com/groups/2528618923856405/") OoB Performers 2019 group
  | ! This is a great resource for meeting, communicating, and connecting with your fellow performers, as well as producers and staff.

p Performer perks:
  ul
    li Performer Badge (If there's an open seat at show start time, it's yours for free!)
    li Discounted upgrade to an all-access badge
    li OoB t-shirt
    li OoB trading card featuring your act
    li $135/night hotel discount at the Hilton Garden Inn Downtown
      sup *

p *We know what you're thinking: "A hotel discount? This is 2019. We're performers. We stay in AirBnBs." Word. But maybe you don't mind sharing a queen bed with a friend, and therefore 4 of y'all can split a room, and be right smack in the middle of downtown Austin, where all but 1 of our venues and parties is located, thus saving you money on scooters and ride shares for only $34/ea a night. If that is the case, check out our sweet&nbsp;
  a(href="https://hiltongardeninn.hilton.com/en/gi/groups/personalized/A/AUSGIGI-OBCF19-20190829/index.jhtml?WT.mc_id=POG") OoB hotel discount at the Hilton Garden Inn Downtown
  | .

p We will be sending out regular emails between now and the fest as we get more and more details worked out, but please feel free to email us at anytime with any questions/concerns you may have and we will do our best to get back to you ASAP!

p Cheers,
p Out of Bounds Producer Team