p #{name},

if actType.includes('Standup')
  p Due to the unprecedented competitiveness of this year's festival, we regret to inform you that we are unable to include you in this year's Out of Bounds line-up.

  p Thank you for applying, and let me just say that the talent we have had to turn away this year makes my head spin. The acceptance rate for stand-ups was 19%, so long story short, this festival is tough to get into. Instead of invoking discouragement, I hope this inspires you to keep working, keep performing, keep trying and failing and trying and succeeding so that you can explode our 2019 panel's brains with your awesomeness and join us in future years.

else
  p Due to the unprecedented competitiveness of this year's festival, we regret to inform you that we are unable to include #{name} in this year's Out of Bounds line-up.
  p Thank you for applying, and let me just say that the talent we have had to turn away this year makes my head spin. In total, we received 415 submissions and our acceptance rate was 23%.  In truth, every year Out of Bounds will become more competitive due to the rising tide of talent in both Austin and the national scene. Last year our acceptance rate was 25%. This year it was 23%. This festival is hard to get into, and instead of invoking discouragement, I hope this inspires you to keep working, keep rehearsing, keep trying and failing and trying and succeeding so that you can explode our 2019 panel's brains with your awesomeness and join us in future years.

p If you are in Austin for Labor Day Weekend, we do hope to see you as an audience member, workshop attendee and/or party go-er (EVERYONE IS INVITED TO THE PARTIES!). The mission of Out of Bounds is to provide a diverse arena for artists to connect, educate, learn and thrive, and we'd love for you to still be a part of that mission.
br
p Sincerely,
p Ruby Willmann - Executive Director of Out of Bounds