p #{contact.name},

if showType.includes('Standup')
  p Unfortunately, we were unable to include you in this year's Out of Bounds line-up. Every year we receive a record number of applicants, of which there is a large majority we are unable to accept. We encourage you to keep working, performing, failing and succeeding and hope that you consider applying for next year's festival.

else
  p Unfortunately, we were unable to include #{name} in this year's Out of Bounds line-up. Our acceptance rate this year was 18% (only slightly easier than getting into Georgetown University). We encourage you to keep working, rehearsing, trying, failing and succeeding and hope that you consider applying to next year's festival.

p Sincerely,
p The Out of Bounds Producer Team