p Thank you for attending this year's Out of Bounds Comedy Festival! 
p Out of Bounds is a non-profit which means we get funding from the city and the city needs demographic data from us.  
  | Please fill out 
  a(href="https://oobfest.com/survey") this survey
  |  so we can get this information for them!  
p Additionally, there's another quick survey right after where you can give anonymous feedback on this year's festival. You can also contact us directly at producers@oobfest.com 
p The production team will use the information from both surveys in decision-making for next year's festival. 
p Thanks again!
p The Out of Bounds Producer Team