extends ../../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title Workshops

  #app.dash-boxes.container-fluid
    add-workshop-modal(:workshop="modalWorkshop")
    edit-workshop-modal(:workshop="modalWorkshop" @update-workshop="updateWorkshop")
    .box.box-b
      table.box-table.table
        thead
          tr
            th Name
            th Teacher(s)
            th When
            th Sold
            th Audit
            th Refund
            th Price
            th Audit Price
        tbody(v-for="(workshop, index) in workshops")
          tr( style="background-color: white")
            td
              a(:href="'#collapse-' + index" data-toggle="collapse") {{workshop.name ? workshop.name : '[no name]'}}
            td {{workshop.teacher}}
            td {{getWorkshopDate(workshop)}}
            td.code(:class="{'text-success': workshop.sold == workshop.capacity, 'text-danger': workshop.sold > workshop.capacity}")
              | {{workshop.sold}}/{{workshop.capacity}}
            td.code
              span(:class="{'text-success': workshop.auditSold == workshop.auditCapacity, 'text-danger': workshop.auditSold > workshop.auditCapacity}") {{workshop.auditSold}}
              | /
              a(href="#" @click="setAuditCapacity(workshop._id)") {{workshop.auditCapacity ? workshop.auditCapacity : '0'}}
            td {{workshop.refunded}}
            td: a(href="#" @click="setPrice(workshop._id)") {{workshop.price ? workshop.price : 'n/a'}}
            td: a(href="#" @click="setAuditPrice(workshop._id)") {{workshop.auditPrice ? workshop.auditPrice : 'n/a'}}
          tr.collapse(:id="'collapse-' + index")
            td(colspan="6")
              h4 Description
              vue-markdown(:source="workshop.description")
              h4 Teacher Bio
              vue-markdown(:source="workshop.bio")
              div(v-if="workshop.imageUrl")
                h4 View Image
                pre
                  a(:href="workshop.imageUrl" target="_blank") {{workshop.imageUrl}}
              .form-group
                button.btn.btn-primary(@click="editWorkshop(workshop)" type="button" data-toggle="modal" data-target="#edit-workshop-modal") Edit
                | &nbsp;
                button.btn.btn-danger(v-if="!workshop.deleteImageUrl" @click="deleteWorkshop(workshop._id, index)") Delete
                button.btn.btn-danger(v-else @click="deleteWorkshopImage(workshop)") Delete Image
              h4 Students
              div(v-if="workshop.students.length > 0")
                table.table.table-sm
                  thead
                    tr
                      th Name
                      th Email
                      th Quantity
                      th Paid
                      th Audit?
                      th Date
                      th
                  tbody
                    tr(:class="{'line-through': student.refunded}" v-for="(student, index) in workshop.students" )
                      td {{student.name}}
                      td {{student.email}}
                      td {{student.quantity}}
                      td
                        span(v-if="student.payment")
                          a(:href="student.payment.receipt_url" target="_blank") Stripe
                      td {{student.auditing ? "Yes" : "" }}
                      td
                        span(v-if="student.payment") {{new Date(student.payment.created * 1000).toLocaleDateString('en-US')}}
                      td
                        //button.btn.btn-xs.btn-secondary(v-if="student.refunded" type="button" @click="setRefund(workshop._id, student.email, false)") Undo Refund
                        //button.btn.btn-xs.btn-secondary(v-else type="button" @click="setRefund(workshop._id, student.email, true)") Refund
              p(v-else) No students

    .form-group
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#add-workshop-modal") Add Workshop

  script(src="/js/vue-markdown.js")
  include components/add-workshop
  include components/edit-workshop
  script.
    Vue.use(VueMarkdown)
    let app = new Vue({
      el: "#app",
      data() {
        return {
          workshops: [],
          modalWorkshop: {
            capacity:12,
            image: {
              id: '',
              url: '',
              deleteUrl: ''
            }
          }
        }
      },
      methods: {
        setPrice(workshopId) {
          let price = Number(prompt("How many dollars??"))
          let self = this
          axios
            .put('/api/workshops/' + workshopId, {price})
            .then(response=> {
              let index = self.workshops.map(w=> w._id).indexOf(workshopId)
              Vue.set(self.workshops, index, response.data)
            })
            .catch((error)=> {
              alert("Error setting workshop price :(")
              console.log(error)
            })
        },
        setAuditPrice(workshopId) {
          let auditPrice = Number(prompt("How many dollars??"))
          let self = this
          axios
            .put('/api/workshops/' + workshopId, {auditPrice})
            .then(response=> {
              let index = self.workshops.map(w=> w._id).indexOf(workshopId)
              Vue.set(self.workshops, index, response.data)
            })
            .catch((error)=> {
              alert("Error setting workshop audit price :(")
              console.log(error)
            })
        },
        setAuditCapacity(workshopId) {
          let auditCapacity = Number(prompt("Audit Capacity"))
          let self = this
          axios
            .put('/api/workshops/' + workshopId, {auditCapacity})
            .then(response=> {
              let index = self.workshops.map(w=> w._id).indexOf(workshopId)
              Vue.set(self.workshops, index, response.data)
            })
            .catch((error)=> {
              alert("Error setting workshop audit capacity :(")
              console.log(error)
            })
        },
        updateWorkshop(workshop) {
          let index = this.workshops.map(w=> w._id).indexOf(workshop._id)
          Vue.set(this.workshops, index, workshop)
        },
        setRefund(workshopId, studentEmail, refunded) {
          let self = this
          axios
            .post('/api/workshops/set-refund/' + workshopId, {email: studentEmail, refunded: refunded})
            .then((response)=> {
              let index = self.workshops.map(w=> w._id).indexOf(workshopId)
              Vue.set(self.workshops, index, response.data)
            })
            .catch((error)=> {
              alert("Error setting workshop refund :(")
              console.log(error)
            })
        },
        editWorkshop(selectedWorkshop) {
          this.modalWorkshop = selectedWorkshop
        },
        deleteWorkshop(id, index) {
          let self = this
          axios
            .delete('/api/workshops/' + id)
            .then(function(response) {
              self.workshops.splice(index, 1)
            })
        },
        deleteWorkshopImage(workshop) {
          window.open(workshop.deleteImageUrl, '_blank')
          workshop.imageUrl = ''
          workshop.deleteImageUrl = ''
          let self = this
          axios
            .put('/api/workshops/' + workshop._id, workshop)
            .then(function(response) {
              workshop = response.data
            })
            .catch(function(error){
              alert("Error updating workshop :(")
              console.log(error)
            })

        },
        getWorkshopDate(workshop) {
          if (workshop.day) {
            let time = ''
            if(workshop.time=="10") time = "11:00am"
            if(workshop.time=="20") time = "12:00pm"
            if(workshop.time=="30") time = "1:00pm"
            if(workshop.time=="40") time = "3:00pm"
            return `${workshop.day}, ${workshop.venue}, ${time}`
          }
          else return 'N/A'
        }
      },
      created() {
        let self = this
        axios
          .get('/api/workshops/')
          .then(function(response) {
            self.workshops = response.data
          })
          .catch(function(error) {
            alert("Error getting workshops :(")
            console.log(error)
          })
      }
    })